{% extends "mtce/base.html" %}



{% block content %}

<h1>{{ comparison.name }}</h1>

{% if comparison.description %}
    <p>{{ comparison.description }}</p>
{% endif %}




<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" href="#home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#profile">Source and Reference</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 41px, 0px);">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="home">

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">MT System</th>
      <th scope="col">Checkpoint</th>
        {% for metric in metrics %}
          <th scope="col">{{ metric }}</th>
        {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for sys,cp,metricvalues in systems_checkpoints_metricvalues %}
    <tr class="table-light">
        <th scope="row"><a href="{% url 'mtce:system_detail' sys.id %}">{{ sys }}</a></th>
      <td>{{ cp }}</td>
        {% for mv in metricvalues %}
          <td>{{ mv }}</td>
        {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>



  </div>
  <div class="tab-pane fade" id="profile">
      {% include "mtce/source_reference.html" with list_source_reference=list_source_reference %}
  <div class="tab-pane fade" id="dropdown1">
    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
  </div>
  <div class="tab-pane fade" id="dropdown2">
    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
  </div>
</div>



{% endblock %}