{% extends "mtce/base.html" %}


{% block base_content %}
<h1>Comparisons</h1>

{% if comparisons %}
    <table class="table table-hover">
        <thead>
            <!-- <tr>
                <th>name</th>
                <th>description</th>
            </tr>
            --!>
        </thead>
        <!-- <th>documents</th>
        <th>total sentences</th>
        !-->
        {% for comp in comparisons %}
        <tr>
            <td><a href="{% url 'mtce:comparison_index' comp.id %}">{{ comp.name }}</a></td>
            <td>{{ comp.description }}</td>
            <td><a href="../admin/mtce/comparison/{{ comp.id }}/change/">Edit</a></td>
            <td><a href="../admin/mtce/comparison/{{ comp.id }}/delete/">Delete</a></td>
        </tr>
        {% endfor %}

    </table>
{% else %}
    <p>No comparisons to show.</p>
{% endif %}
    <p><a href="../admin/mtce/comparison/add/">
        <button type="button" class="btn btn-success">Add a new comparison</button>
    </a></p>
{% endblock base_content %}