{% extends "mtce/base.html" %}


{% block content %}
<h1>Comparisons</h1>
<table class="table table-bordered table-hover table-responsive">
	<th>name</th>
	<th>description</th>
	<!-- <th>documents</th>
	<th>total sentences</th>
	!-->
    {% for comp in comparisons %}
	<tr>
		<td><a href="{% url 'mtce:comparison_detail' comp.id %}">{{ comp.name }}</a></td>
		<td>{{ comp.description }}</td>
	<!--	<td>{{ task.documents }}</td>
		<td>{{ task.total_sentences }}</td>
		!-->
	</tr>
	{% endfor %}
</table>
{% endblock %}