{% extends 'mtce/pairwise_index.html' %}o


{% block sentence_level_charts %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            {% for ch in sent_level_charts %}
                <h4>{{ ch.title }}</h4>
                {{ ch.as_html }}
            {% endfor %}
        </div>
        <div class="col-sm">
            {% for ch in bootstrap_charts %}
                <h4>{{ ch.title }}</h4>
                {{ ch.as_html }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


