{% extends "mtce/comparison_base.html" %}


{% block comparison_content %}


<script>
$(document).ready(function(){
    $("#all-done").hide();

    var btn_on = "btn-display-on";
    var load_next_batch = "load_next_batch";
    var batch_size = 50;
    var beg = 0;
    var end = batch_size;
    function reset_sentence_visibility() {
        {% for s in first_sentences %}
            if ($("#btn-display_{{ s.id }}").hasClass(btn_on)) {
                $(".sent_{{ s.id }}").show();
           //     $('#sss').text($('#sss').text()+"   show {{ s.id }} {{ s.name }} ||| ");
            } else {
                $(".sent_{{ s.id }}").hide();
           //    $('#sss').text($('#sss').text()+" hide {{ s.id }} {{ s.name }} ||| ");
            }
        {% endfor %}
    }
    function reload_sentence_tables() {
        $("#button-load-next").show();
        $("#all-done").hide();
        beg = 0;
        end = batch_size;
        var orderby = $("#select-order-by").val();
        if ($("#button-order-asc").hasClass(btn_on)) {
            var dir = "asc";
        } else {
            var dir = "desc";
        }
        $.get("/mtce/comparison/{{ comparison.id }}/sentences/"+orderby+"/"+dir+"/".concat(beg,"/",end,"/"), function(data, status) {
            $("#sentences-div").html(data);
            reset_sentence_visibility();
            //$("."+load_next_batch).show(function() {
             //   $('#sss').text($('#sss').text()+" tady");
            //});
//            $("#sentences-tables-end").show(load_next_sentence_tables);
        });
    }

    function load_next_sentence_tables() {
        beg = beg + batch_size;
        end = end + batch_size;
        var orderby = $("#select-order-by").val();
        if ($("#button-order-asc").hasClass(btn_on)) {
            var dir = "asc";
        } else {
            var dir = "desc";
        }
        $.get("/mtce/comparison/{{ comparison.id }}/sentences/"+orderby+"/"+dir+"/".concat(beg,"/",end,"/"), function(data, status) {
            var previous = $("#sentences-div").html();
            $("#sentences-div").html(previous+data);
            reset_sentence_visibility();

            if (data=="") {
                $("#button-load-next").hide();
                $("#all-done").show();
            }
            //$("#sentences-tables-end").show(load_next_sentence_tables);
        });
    }

    $("#button-load-next").click(load_next_sentence_tables);

    $("#sentences-div").show(reload_sentence_tables);
    $("#select-order-by").change(reload_sentence_tables);





    // the buttons changes color and btn_on class
    function reset_btn(b) {
      if (b.hasClass(btn_on)) {
          b.removeClass(btn_on);
          b.removeClass("btn-success");
          b.addClass("btn-secondary");
      } else {
          b.addClass(btn_on);
          b.addClass("btn-success");
          b.removeClass("btn-secondary");
      }
    }

    // show-hide sentence metrics button
    $("#btn-show-sentence-metrics").click(function(){
        b = $("#btn-show-sentence-metrics");
        reset_btn(b);
        $(".table-sent-metrics").toggle();
    });

    //  show-hide sentences buttons
    {% for s in first_sentences %}
    $("#btn-display_{{ s.id }}").click(function(){
        $(".sent_{{ s.id }}").toggle();
        b = $("#btn-display_{{ s.id }}");
        reset_btn(b);
    });
    {% endfor %}

    // ascending and descending buttons
    $("#button-order-asc").click(function(){
        b = $("#button-order-asc");
        reset_btn(b);
        b = $("#button-order-desc");
        reset_btn(b);
        reload_sentence_tables();
    });
    $("#button-order-desc").click(function(){
        b = $("#button-order-desc");
        reset_btn(b);
        b = $("#button-order-asc");
        reset_btn(b);
        reload_sentence_tables();
    });



    //
    reset_sentence_visibility();
});
</script>

{% with selected='show_hide' %}
<span class="list-group-item  flex-column align-items-start" style="border:none;">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Show/hide sentences</h5>
    </div>
    <p class="mb-1">
    {% for s in first_sentences %}
    <button id="btn-display_{{ s.id }}" type="button"
        {% if s.show %}
            class="btn btn-success btn-display-on"
        {% else %}
            class="btn btn-secondary"
        {% endif %}>
        {{ s.name }}
    </button>
    {% endfor %}
    </p>
</span>
{% endwith %}



{% with selected="sort" %}
<span class="list-group-item  flex-column align-items-start" style="border:none;">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Order by</h5>
    </div>
    <div class="d-flex justify-content-between">
        <div class="form-group">
            <select class="form-control-static" id="select-order-by">
                <option value="document">order in document</option>
                {% for metric in metrics %}
                    {% for s in first_sentences %}
                        {% if s.has_metrics %}
                            <option value="metric>>>{{ metric }}>>>{{ s.id }}">{{ metric }} on {{ s.name }}</option>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <option value="random">random</option>
            </select>
            <div class="btn-group">
                <button id="button-order-asc" type="button" class="btn  btn-success btn-display-on btn-sm">Ascending</button>
                <button id="button-order-desc" type="button" class="btn btn-secondary btn-sm">Descending</button>
            </div>
        </div>
        <button id="btn-show-sentence-metrics" class="btn btn-success btn-display-on">Show sentence metrics</button>

    </div>
</span>
{% endwith %}



{% with selected="sentences_tables" %}
    {% comment %}
    <div id="sss">0</div>
    {% endcomment %}

    <div id="sentences-div"></div>

    <button id="button-load-next" class="btn btn-success btn-display-on">Next</button>

    <div id="all-done"><p>All sentences have been loaded.</p></div>
{% endwith %}






<div class="container">
    <div class="row">
        <div class="col">
            {{ about }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            {{ sort }}
        </div>
        <div class="col-sm">
            {{ sort2 }}

        </div>
    </div>
    <div class="row">
        <div class="col-1">
            {{ sentences_tables }}
        </div>
    </div>
</div>{# jumbotron #}

{% endblock comparison_content %}
