{% extends "mtce/base.html" %}


{% block menu %}
    {% include "mtce/menu.html" %}
{% endblock menu %}

{% block content %}

    <h1><a href="{% url 'mtce:comparison_detail' system.comparison.id %}">{{ system.comparison.name }}</a>/{{ system.name }}</h1>

{% if comparison.description %}
    <p>{{ comparison.description }}</p>
{% endif %}


<div id="accordion">
    {% for chart in metric_bar_charts %}
  <div class="card">
    <div class="card-header" id="heading{{ forloop.counter }}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="{% if forloop.first == True %}true{% else %}false{% endif %}" aria-controls="collapse{{ forloop.counter }}">
            {{ chart.title }}
        </button>
      </h5>
    </div>

    <div id="collapse{{ forloop.counter }}" class="collapse{% if forloop.first == True %} show{% endif %}" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
      <div class="card-body">
          {{ chart.as_html }}
      </div>
    </div>
  </div>
    {% endfor %}
</div>





<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="home">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Checkpoint</th>
            {% for m in metrics %}
          <th scope="col">{{ m }}</th>
            {% endfor %}
        </tr>
      </thead>
      <tbody>

      {% for cp,metricvalues in checkpoints_metricvalues %}

               <tr class="table-light">
    <!--      <th scope="row">{{ sys }}</th> !-->
          <td>{{ cp }}</td>
       {% for mv in metricvalues %}
           <td>{{ mv }}</td>
       {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

    <p>
<a href="../../../admin/mtce/comparison/{{ sys.id }}/change/">Edit</a>
    </p>


{% endblock %}